<div class="youtube">
    <div class="youtube-container">
        <div class="youtube-container-content">
            <div class="youtube-container-content-y">
                <a href="/playlist" class="link" rel="noopener noreferrer">To Download Playlist</a>
                <div class="youtube-container-content-y-form" aria-checked="true">
                    <form action="search" method="GET">
                        <div class="youtube-container-content-y-form-group">
                            <label for="url">Video URL</label>
                            <input type="url" name="url" placeholder="..." required />
                        </div>
                        <div class="youtube-container-content-y-form-group">
                            <input class="btn" type="submit" value="Search" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="youtube-container-content-bg">
                <div class="youtube-container-content-bg-form">
                    {{#if youtube}}
                    <h3>{{title}}</h3>
                    {{#each youtube}}
                    <div class="video">
                        <img src="{{this.image}}" alt="{{title}}">
                        <div class="download">
                            <a class="submit" href="{{this.url}}" target="_blank" rel="noopener noreferrer" download="{{title}}.mp4">
                                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px"
                                    viewBox="0 0 24 24" width="24px" fill="#f5f5f5">
                                    <g>
                                        <path d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z" />
                                    </g>
                                </svg>
                                <span>{{this.qualityLabel}}</span>
                            </a>
                        </div>
                    </div>
                    {{/each}}
                    <div class="video">
                        <hr style="width: 100%; color: #8995D9;">
                    </div>
                    {{#each youtubeAudio}}
                    <div class="video">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="60px"
                            viewBox="0 0 24 24" width="60px" fill="#f5f5f5">
                            <g>
                                <path
                                    d="M3,12v7c0,1.1,0.9,2,2,2h2c1.1,0,2-0.9,2-2v-4c0-1.1-0.9-2-2-2H5v-1c0-3.87,3.13-7,7-7s7,3.13,7,7v1h-2c-1.1,0-2,0.9-2,2v4 c0,1.1,0.9,2,2,2h2c1.1,0,2-0.9,2-2v-7c0-4.97-4.03-9-9-9S3,7.03,3,12z" />
                            </g>
                        </svg>
                        <div class="download">
                            <a class="submit" href="{{this.url}}" target="_blank" rel="noopener noreferrer">
                                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px"
                                    viewBox="0 0 24 24" width="24px" fill="#f5f5f5">
                                    <g>
                                        <path d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z" />
                                    </g>
                                </svg>
                                <span>mp3</span>
                            </a>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <h3>{{title}}</h3>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="youtube-container-articles">
            <article class="youtube-container-articles-article">
                <h1>Introduction</h1>
                Discussions of Empire and the Imperial have made an astonishing comeback in
                the political discourse of both academic and policy circles.1 These are not
                debates on the nature of post-colonialism, or on the relationships of hybridity
                and homelessness arising from the colonial experience; rather they arise in
                response to the unilateral, even domineering, actions of the proverbial elephant
                in the room of international politics, the military hyperpower of the United
                States (US). The eagerness of the present US government to use force ‘with or
                Journal of International Relations and Development, 2004, 7, (48–72)
                r 2004 Palgrave Macmillan Ltd 1408-6980/04 $25.00
                www.palgrave-journals.com/jird
                without’ allies or institutional approval has prompted this noticeable shift in
                the terminology of post-Cold War discourses from exuberance about the
                liberation of the Security Council to hardened expressions of resolve about selfdefence, weapons and
                terror.
                As
            </article>
            <article class="youtube-container-articles-article">
                of 2001, the US’ focus on the pre-emption of
                terrorist threats and national security has generated a suspicion that the
                world’s great power has exchanged alliances and global engagement for fig-leaf
                coalitions and expanded military deployment via bases in subservient clientstates. Describing this as an
                Empire
                could be seen as over-sensitivity to the
                brusque unilateral style of the Bush Administration’s response to international
                terrorism; it has been argued (Shaw 2002) that the manhandling of
                international institutions for national purposes should properly be considered
                a post-imperial example of a state dominating global power networks. Others
                reply that a US-centric world order is not necessarily an Empire — unless one
                defines Empire broadly as a system ordered around a single powerful hegemon
                (Ikenberry 2001). So, if Empire now means a new kind of global order that
                looks to the US like a network model, but is not coerced or aggressively
                dominated by it, then the US can be said to be the lynchpin of such a
                democratic–capitalist empire (Hardt and Negri 2000).
                On the other hand, several commentators argue that Empire is here and is
                undoubtedly American. According to Daalder and Lindsay (2003), the real
                debate should be about whether the American Empire should choose a strategy
                of unilateralism or multilateralism given that it can afford to do either but they
                caution that there are serious effects associated with unilateral action in terms
                of generating resentment and possibly provoking power-balancing behaviour
                by other states. Even before 11 September, 2001, Johnson (2000) described
                American overseas military domination as an Empire and warned of the effects
                of ‘blowback’ from the resentment generated by power used without regard for
                local repercussions. In a different vein, Freedland (2002) notes that many do
                draw parallels between Washington and Rome given its global military
                presence, the dominance of its language and culture, and even its belief in a
                higher mission. However, he observes, Americans do not have an imperial selfimage, ‘they can’t quite
                accept
                their current role as master’ since their own
                myth of origin is based on rebellion against an imperial power and an emphasis
                on individual freedom. The belief in America’s benign intentions stems from
                the indirect nature of US control, and, crucially, the fact that the US makes no
                territorial claims on other sovereign states (Lieven 2003). However, as Cox
                (2003) argues, the questions of lack of direct territorial control, the promotion
                of self-determination, and incomplete influence on world affairs do not mean
                that the term Empire cannot be usefully applied to the US for comparative
                purposes.
            </article>
            <article class="youtube-container-articles-article">
                The common thread in the discourse about the American Empire, regardless
                of whether one sees a 21st century Rome or a model of economic and political
                Linda S. Bishai
                Liberal empire
                49
                success exported throughout the globe, is a belief in the basic virtuousness of
                American motives. This is, after all, a liberal democracy — it cannot, by
                definition, re-create the violent territorial takeovers of Rome since it must be
                committed to tolerance and pluralism in principle. When a liberal democracy
                attains global military dominance, the argument goes, this is potentially a
                positive development for world order. This is the kind of Empire that people
                might even actively want to join, since along with its cultural freedoms and
                openness come access to great wealth and security — this is a ‘voluntary
                empire’ (Cooper 2002). Even Hardt and Negri’s (2000: 182) neo-Marxist call to
                action reserves a special category for American Empire, describing it as based
                on ‘imperial sovereignty’ rather than ‘imperialist sovereignty’. That is, the
                American version of Empire constitutes a radical break from European
                imperialism because it is inclusive rather than exclusive. This new form of
                Empire ‘can only be conceived as a universal republic, a network of powers and
                counterpowers structured in a boundless and inclusive architecture. This [y]
                has nothing to do with imperialism, nor with those state organisms designed
                for conquest, pillage, genocide, colonization, and slavery’ (Hardt and Negri
                2000: 166–67). Although recognizing that there are imperialist episodes in
                American history (slavery, native people, and Vietnam), Hardt and Negri
                (2000: 182) insist that the US position in the new open Empire stems from its
                unique political institutions.
                [T]his Constitution is imperial and not imperialist. It is imperial because (in
                contrast to imperialism’s project always to spread its power linearly in
                closed spaces and invade, destroy, and subsume subject countries within its
                sovereignty) the U.S. constitutional project is constructed on the model of
                rearticulating an open space and reinventing incessantly diverse and singular
                relations in networks across an unbounded terrain.
                Thus, the American constitutional project does not destroy and subsume, it
                reinvents. An obvious critique would be that this seems like an artificial
                distinction. From the perspective of the reinvented, the so-called openness of
                this project may feel like subjugation. Or, to paraphrase the Borg, ‘Resistance
                is futile.’ Indeed, Hardt and Negri have provoked an avalanche of critical
                responses in a number of disciplines, including international relations (e.g.
                Barkawi and Laffey 2002; Callinicos et al. 2002).
                Perhaps another way to interpret the difference of the American Empire that
                Hardt and Negri are getting at is to focus on the exceptionalism of American
                identity. Purdy (2003: 30) suggests that if such a thing as an American Empire
                exists, it is invisible to Americans themselves: ‘Inquiring into ‘‘American
                Empire’’ means exploring the distance and mutual incomprehension between
                how most Americans think of themselves and how people around the world see
                America.’ Americans see themselves as passively enjoying the fruits of a
                Journal of International Relations and Development
                Volume 7, Number 1, 2004
                50
            </article>
            <article class="youtube-container-articles-article">
                globally desirable model of political freedom and capitalist production while
                the world hungrily seeks its own transformation into the network. However, it
                is partly the power of the network that engenders the resentment. In its most
                benign aspect, nations must sign on simply to survive. As Purdy points out,
                Americans could never imagine having to learn another language simply to
                have a chance of a decent job, nor could they imagine having the nation’s
                economic and financial policy or corporate laws dictated by outsiders. Because
                Americans are the template for the network, the coercive effects of its spread
                are invisible to them. They imagine that the network spreads because it is
                naturally desirable and others freely choose it; thus, they cannot understand
                the power of the network effect and the resentment it breeds.
                This is the nature of network power. It operates through free and
                perfectly rational choices that at the same time are hardly choices at all.
                Not learning English means giving up certain kinds of ambition. Not
                adopting liberal trade rules means missing entire streams of the
                global economy. All options except one come to seem perverse. People
                experience this Hobson’s choice as coercive even as they move toward the
                American-born network under their own eager power. Emulation and
                resentment are the paired fruits of imperial power, and the stronger the
                compulsion to emulate, the more intense the resentment is likely to be
                (Purdy 2003: 36–37).
                All of these writers (Hardt, Negri and Purdy) indicate that, although
                American global dominance can sometimes look or feel like the classical
                empires of history, it is a different sort of empire because it is based on a noncoercive model and does
                not
                have territorial control as a goal. The American
                Empire, if one must use the term, is a liberal one undertaken for the sake of a
                greater good — that makes it different in a positive sense.
                There are many signs, however, that liberalism and imperialist coercion do in
                fact coexist — even in the name of toleration of difference and the spread of
                freedom. This article examines two central elements of liberalism — toleration
                and pluralism — manifesting as imperial gestures in the contemporary
                American version of liberalism. Authors supporting the spread of liberal
                values, even through force, employ the imperial gesture of dismissing
                alternative viewpoints as not only unacceptable but deranged. In doing so,
                they depart from the classic liberal value of self-scepticism and veer towards a
                dangerously heady merger of liberal moralism and realist method — a
                muscular politics of morality in which the ends (and the actors) are so
                obviously good that they justify any means. In this form of liberalism, which
                has taken root particularly in America, might does not make right, might is
                right (because it is in the hands of the good). Further, many have now openly
                embraced the idea of the American Empire on the basis of America as a model
                Linda S. Bishai
                Liberal empire
                51
                of liberal benevolence. Even Cox (2003: 21–22), who is critical of the starryeyed view, expresses hope
                that
                the
                American model may provide significant
                global benefits if only out of practical self-preservation.
                A society that rests on the principles of toleration and pluralism ought to be
                a globally beneficial and acceptable model. But, as I will show, the model is not
                as tolerant or plural as it seems. Policing must occur to marginalize dissent that
                departs from the moral core that is obvious to all rational people. This tactic
                recalls the universalist tendencies which underpin, and undermine Liberalism’s
                claims to knowledge of moral goods. Although most liberals would reject the
                faintest whiff of an Empire (as coercion) in their policies, a closer reading of the
                liberal discourse in America reveals imperious techniques of disapproval,
                exclusion and control that are part of the dark underside of liberal claims to
                toleration and respect for pluralism — both in domestic politics and in
                America’s foreign policy. Hence, the Liberal Empire rests on a supreme irony
                — American liberalism must attack difference in order to preserve its universal
                liberal identity. American liberalism in particular resolves the inherent tension
                between liberalism’s emphasis on the individual and its need to define the ‘we’
                by seeing the rest of the world as potential Americans. This resolution results in
                a bizarre contradiction — universal nationalism — the driving force behind the
                American liberal empire (see also Greenberg 2003: 1815–16). Although
                contemporary American liberalism has manifested itself through conservative
                ideologies into a foreign policy that is distasteful to many liberal intellectuals
                (Hoffmann 2003a, 2003b) it does so based on an inherent flaw in Liberal theory
                that can all too easily give rise to the close-minded conviction of rational
                certainty.
            </article>
            <article class="youtube-container-articles-article">
                <h1>The American Liberal</h1>
                The term ‘Liberal’ here refers to the political theoretical perspective that
                emphasizes the rights and equality of the individual and a reluctance to see the
                use of force as anything but a moral last resort. As one scholar put it: ‘Central
                to liberalism, whether conceived as a tradition, an ideology, or as ethical
                doctrine, is concern for individual liberty’ (Smith 1992: 201). In America,
                liberalism has become associated with a type of aggressive moral commitment
                that is counterintuitive to the traditional association of liberalism with
                openness and secularism.2 From its founding documents onward, the US has
                staked a moral claim for its basis in clear distinction (idealist) from the cynical
                continental (realist) politics it broke away from. Especially now, having
                triumphed after the Cold War, the American system of government is seen as
                not just a good one, which keeps the peace in an equitable fashion, but the best
                one — clearly superior from both a moral and an economic standpoint, and
                Journal of International Relations and Development
                Volume 7, Number 1, 2004
                52
                only awaiting the passing of preordained historical phases before taking its
                rightful place as the proven champion (e.g. Fukuyama 1992; Mandelbaum
                2002). It is important to point out that contemporary American liberalism is a
                particularly exaggerated post-Cold War strain, and that it has lost a key
                characteristic along the way. Traditionally, liberalism included a healthy
                scepticism in one’s own judgment. As Purdy (2003: 67) words it, ‘There are so
                many ways to do wrong as well as right, and humanity is such a flawed vessel,
                that we should not trust our judgments too confidently. If moral clarity is
                necessary for liberty, it always risks becoming moral arrogance, which courts
                violence.’ But American liberalism has begun to illustrate a dangerous lurking
                tendency that plagues liberal theory in general. As self-criticism has been
                eroded by insecurity, commitment to the universalism of certain moral values
                has become ascendant. A utopian ideal, Liberalism ‘is thus inspired by the
                dream of political principles that rule without oppressiveness, because they
                have the universality, transparency, power, and modesty of logic’ (Kalb 2002:
                111). Claims to universality have a long history in Western political thought,
                but a belief in the universality of moral values must be tempered by the
                acknowledgement that other viewpoints may validly challenge them or it will
                lose the very quality (doubt) that indicated a free, liberal, mind in the first
                place. This is the internal contradiction of liberalism — it must fight against
                domination while it must inevitably become controlling (2002: 113). The
                paradox is based on the necessity of treating equality and freedom as
                fundamentally rational; otherwise they are simply preferences without any
                compelling authority (2002: 112). However, embedding its commitments into
                universal rationality leads to the problem of illiberal liberalism since ‘those who
                object to its ever-ramifying implications, which have come to include the
                continuing transformation of all social relations, must be treated as lunatic or
                criminal’ (Kalb 2002: 112).
                In the aftermath of the 11 September, 2001 terror attacks the desire to take
                refuge in universal perspectives was particularly strong in the US. America’s
                liberal commitments were challenged by calls for military commissions and the
                curtailment of civil liberties to aid the ‘war’ on terrorism. The particularity of
                the attacks — they hate us because of who we are — was felt so intensely that it
                became commonplace to universalize the horror of the experience. Terror
                suddenly became ahistorical and universally recognizable. Repressive states
                with problematic human rights records such as Russia, China and Pakistan,
                became fellow victims and ready allies in the struggle against terror. Prominent
                liberal theorist, Michael Walzer (2002: 5), belittled the idea that terrorism
                might be contextual:
                It’s not hard to recognize; we can safely avoid postmodernist arguments
                about knowledge and truth. Terrorism is the deliberate killing of innocent
                Linda S. Bishai
                Liberal empire
                53
                people, at random, in order to spread fear through a whole population and
                force the hand of its political leaders.
                Walzer’s words here indicate a reliance on a fixed single perspective from
                which to judge the truth of the situation. All reasonable people agree on the
                definition of terrorism; postmodernists (by implication) are not reasonable.
                This same logic determines the reasonableness of wanting Western-style
                democracy (including free trade, secular government and gender equality). Of
                course, the Iraqi people should be liberated by force — it is, ironically, a
                ‘radically liberal war’ launched by a ‘radically conservative’ president
                (Friedman 2003). This combination of moral certainty and the conviction
                that it can and should be universally applied is what tempts the liberal state
                down the path to Empire. The politics of fear quickly overcame the sceptical
                component of American political discourse. The saying about one man’s
                freedom fighter being another man’s terrorist was shouted down in disbelief.
                Walzer (2002: 5) asserted that, although the term terrorist is ‘contested’, many
                such contested terms can still have a definite meaning: ‘the use of ‘‘democracy’’
                is contested, but we still have, I think, a pretty good idea of what democracy is.’
                This interpretation of a ‘contested term’ assumes that all who encounter it can
                be rationally persuaded to agree — democracies may vary, but they are
                recognizable as a type. Postmodernists, goes the subtext, are engaging in an
                irrational deception when they point out that truth is contextual.
                Terrorists, despite their different causes, are universally recognizable and —
                most importantly — universally condemnable. However, the whole point of
                contested concepts is that they have histories and so resist definition. Law
                Professor, David Cole (2001), points out that under new guidelines for
                combating terrorism, an immigrant could have been deported for supporting
                the African National Congress against South Africa’s apartheid regime. This
                example demonstrates that a change in circumstances may amount to a change
                in definition for a group with political aspirations. Indeed, terrorism and the
                state have a long and mutually constitutive relationship — it is worth recalling
                that a majority of the current members of the United Nations (UN) used terror
                tactics at some point as they struggled for independence (Polat 1999: 67). Polat
                (1999: 66) explained further:
                Not only does a radical distinction of the state and terrorism seem therefore
                to be vulnerable to a deconstructive probing, but the state may also require
                terrorism as an indispensable ‘other’ in order to define, distinguish, and
                justify itself. And for this ontological need on the part of the state for
                terrorism to be met, the state must leave terrorism ever present, and yet
                elusive and undefined, maintaining for itself the exclusive right to define
                terrorism in specific instances.
                Journal of International Relations and Development
                Volume 7, Number 1, 2004
                54
                It is no accident that, despite decades of trying, the UN has been unable to
                sponsor a concrete binding definition of terrorism among its members. Too
                many of them have relied on methods which would be read as terrorist if placed
                in a universalized context.
            </article>
            <article class="youtube-container-articles-article">
                <h1>The Liberal State</h1>
                In the ideal liberal state, loyalty to the polity is strong enough to produce a
                civic national identity which binds its citizens together regardless of their
                ethno-cultural claims to difference (Kymlicka 1995: 23). This ideal civic
                identity should make political participation less problematic since all those
                included in the process are ‘insiders’ and should thus find their interests
                satisfied by the representation of their fellows. While immigration may be
                allowed within this model, the driving impulse is for integration rather than
                maintained multiples of difference. Kymlicka (1995: 24) distinguishes between
                civic and ethnic nationalism by noting that it is ‘not the absence of any cultural
                component to national identity, but rather the fact that anyone can integrate
                into the common culture, regardless of race or colour.’ It is civic nationalism
                that provides the model for the liberal state, but fitting liberal theory into the
                boundaries of a modern sovereign state forces liberals to draw on illiberal tools
                to determine the boundaries. Carens (1995: 331) describes the frightening
                aspect of liberal states’ encounters with outsiders:
                Borders have guards and the guards have guns. This is an obvious fact of
                political life but one that is easily hidden from view — at least from the view
                of those of us who are citizens of affluent Western democracies. To Haitians
                in small, leaky boats confronted by armed Coast Guard cutters, to
                Salvadorans dying from heat and lack of air after being smuggled into the
                Arizona desert, to Guatemalans crawling through rat-infested sewer pipes
                from Mexico to California — to these people the borders, guards and guns
                are all too apparent.
                The need for sovereign states to patrol the borders, to contain the inside and
                exclude the outside sets the stage for the supreme irony of the American liberal
                state in particular. America is, in the eyes of Americans, the universal nation.
                Americans suspect, as Purdy (2003: 43) puts it, that ‘being French is an
                affectation, being Russian a perversion, being from the world’s poor regions a
                deprivation; but being American is just being human.’ It is the apparent ability of
                America to absorb all other nationalities into itself without losing its identity that
                perpetuates this conclusion. Every person in the world is regarded as a potential
                American.3 To be American, one simply has to live as an American.
            </article>
            <article class="youtube-container-articles-article">
                However, it is precisely the infinite possibility of universalism that provides the internal
                Linda S. Bishai
                Liberal empire
                55
                contradiction of America and the liberal Empire: every person may be an
                American, but the select few who actually are American must be shielded from
                the threat of the potential hoard that has yet to make this inevitable transition.
                The irony of this stance is that it assumes a fixed, and therefore protectable,
                aspect to a nationality proud of its openness. So, when the Liberal state discusses
                protecting pluralism and multi-culturalism internally, it must make two very
                strong assumptions about identity relations: first, that they can be protected;
                second, that such protection is a good and necessary thing. Both of these
                assumptions are wrong. Identities are not prior, or given — in fact they cannot
                even be formed in the absence of relational encounters with the other. The
                discourse of protection also contains a strong hint of fear. Plural identities must
                be protected (tolerated) to ensure that the duties of a Liberal state in upholding
                the rights of the individual are carried out; but the majority itself fears an open
                and unguarded encounter with various ‘outsiders’ within its midst. They are
                ‘protected’, identified, as minorities (or lately as potential terrorists) so that the
                majority may encounter them under controlled known conditions. This politics of
                fear results in the closure of the state. It is the fear of the loss of identity.
                This kind of fear partly explains the existential nature of the American
                response to 11 September, 2001. The ‘war on terrorism’, declared as a fight to the
                end in which ‘we will prevail’, was couched as a duel to the death. This may seem
                odd as a reaction from the world’s mightiest nation to the loss of a tiny fraction of
                its population. Even the worst case scenario of a successful weapons of mass
                destruction attack is unlikely to cause more casualties than the US has
                experienced in its numerous conventional military encounters. The risk that a
                series of terrorist attacks could actually destroy the state seems incalculably small
                and is certainly less than the Cold War nuclear risks that were so calmly accepted.
                Why the depth of fear? Why gratify the terrorists with terror? For one thing, the
                targets are clearly civilian, and civilians did not — as it were — sign up for this
                kind of risk. However, other countries have experienced constant threats and
                attacks on civilian populations without calling for a global response and without
                hyperbolic references to the threat to their future existence. The American
                response stems from a kind of disbelief that the liberal model of proven universal
                value could have come under such violent attack. Suddenly, the liberal model of
                pluralism could not be consistently maintained as totally universal — a
                potentially large group had expressed its violent disagreement. The response,
                predictably enough, was to exclude any possibility of reason behind the attacks
                due to their criminal nature. That is – terrorism was deemed to be evil and
                irrational, thereby eliminating the need for the liberal state to acknowledge any
                validity for the motivation behind it. Liberals closed ranks around America and
                loudly proclaimed those who pondered the implications of US policy to be
                ‘appeasers’ and ‘sympathizers’. The choice was stark: either one believed the
                terrorist attacks to be bizarre, insane and evil (i.e. ahistorical and with no
                Journal of International Relations and Development
                Volume 7, Number 1, 2004
                56
                provocation) or one was anti-American and even sympathetic to the attackers.
                Extraordinarily, the logic went something like this: because terrorist attacks can
                never be excused, the context that gave rise to them should never be closely
                examined (Walzer 2002: 7). Further, the ‘apologists’ were accused of putting the
                rest of the country at risk by questioning the need for expanded governmental
                powers over civilians. In his haste to affirm citizens’ obligations to the state,
                Walzer (2002: 8) — a liberal theorist who has specialized in writing on toleration
                and justice — ends up echoing the traditional realist platform of state survival:
                [W]e have to be ready to consider modifying the constraints [on police
                work]. It isn’t a betrayal of liberal or American values to do that; it is in fact
                the right thing to do, because the first obligation of the state is to protect the
                lives of its citizens (that’s what states are for), and American lives are now
                visibly and certainly at risky Think of what will happen to our civil
                liberties if there are more successful terrorist attacks.
            </article>
            <article class="youtube-container-articles-article">
                The logic of this argument is perverse and indicates the strange imbalance in
                contemporary American liberalism. We must curtail civil liberties in order to
                avoid having to curtail civil liberties. There are several unquestioned
                assumptions baked into this assertion. The first is that there is a higher
                priority in the liberal state on the lives of citizens than on their liberty. But if
                that were true then why did Americans design so many protections into their
                justice system in the first place? The ‘innocent until proven guilty’ requirement
                alone proclaims the opposite, as it allows suspected criminals to go free if the
                evidence against them is not convincing enough. The second hidden
                assumption is that the state will actually be able to secure the lives of its
                citizens more effectively with greater police powers and can be trusted to do so.
                Many embarrassing incidents in American history such as the Palmer raids,
                Japanese internment camps, and the McCarthy era of McCarran-Walter Act
                provide adequate reason for doubt about this sort of trust (Cole 2001: 2).
                However, this is a liberal state that has banished doubt from its repertoire.
                Since Americans are good, they can say: ‘Our hearts are pure, and purity
                expresses itself in our actions. When we follow our feelings, whether of
                compassion or of outrage, we are staying close to the truth. The danger is not
                that we will be wrong, but that we will fail to trust ourselves’ (Purdy 2003: 46–
                47). It is this loss of scepticism, the unwillingness to question, that has
                produced what should be a contradiction in terms: an imperial liberal state.
            </article>
            <article class="youtube-container-articles-article">
                <h1>Walzer’s ‘Toleration’ and the Liberal State</h1>
                As an important and visible voice in American political discourse, Walzer is
                used in this section as emblematic of the type of American liberalism and its
                Linda S. Bishai
                Liberal empire
                57
                response to terrorism here under critique.
                Walzer (1997: 2) has made an
                extended case for the liberal virtue of toleration, or ‘the peaceful coexistence of
                groups of people with different histories, cultures, and identities, which is what
                toleration makes possible.’ This means that toleration is necessary from a
                practical perspective, because the peace it produces is always desirable, and
                that it does not necessarily require respect for difference. Walzer’s analytic
                framework displays all the positive elements of self-doubting traditional
                liberalism. He conceded (1997: 5–7) that ‘Philosophy has to be historically
                informed and sociologically competent if it is to avoid bad utopianism and
                acknowledge the hard choices that must often be made in political life,’ and
                also that our experiences are ‘always, necessarily, culturally mediated.’
                However, he ultimately advocates a thin brand of relativism and allows the
                blinders of moral certainty to creep back into the debate — because, he says,
                ‘We choose within limits, and I suspect that the real disagreement among
                philosophers is not whether such limits exist — no one seriously believes that
                they don’t — but how wide they are’ (Walzer 1997: 5–6).
                Although Walzer compares five different ‘regimes of toleration’ (empires,
                nation-states, immigrant societies, consociations and international society), it is
                his discussion of states which is primarily relevant here and which will serve as
                the basis to illustrate his theory of toleration. In analyzing the state model of
                toleration, Walzer finds it useful to divide the territorial state into two separate
                examples: nation-states and immigrant societies. Both involve a sovereign state
                with control over a strictly defined territory, but nation-states are dominated
                by a single national majority which controls public life while immigrant
                societies involve multiple groups with no clear capturing of the state apparatus
                by any one group. Within Walzer’s description, nation-states may be liberal–
                democratic states and therefore tolerant of minorities as citizens. However,
                since the majority nationality continues to organize public life in ways that
                reproduce its own traditions, there is constant pressure on minority group
                members to assimilate. Immigrant societies, by contrast, exhibit toleration in a
                decentralized fashion. As no single group is in control, everyone must be
                tolerant of everyone else. This political model does not allow for the possibility
                of territorial clustering or autonomy by various groups. Individuals in these
                groups have arrived separately, making a choice to leave a territorial base in
                the ‘mother country’. Walzer considers this model to be in a process of
                formation, forging new forms of difference and toleration which are still
                unclear. There are several flaws in his methodology that preclude him from
                making important conclusions about identity and difference, and the nature of
                the liberal (tolerant) state.
                The first problem with the structure of Walzer’s argument is the fact that it is
                ahistorical.
            </article>
            <article class="youtube-container-articles-article">
                He compares empires, nation-states, immigrant societies, consociations and international
                society as
                if they may have existed concurrently at any
                Journal of International Relations and Development
                Volume 7, Number 1, 2004
                58
                point in history. This implication, whether intended or not, gives rise to a very
                problematic treatment of states in their several forms. By not referring to the
                nature of statehood and its place as a product of modernity, Walzer overlooks
                the profound changes in the nature of identity which created the conditions of
                possibility for the state. Omitting the rise of statehood and nationalism makes
                his discussions of the five regimes problematic. For example, the labelling of
                empires as ‘multinational’ is completely anachronistic unless he wishes to
                restrict his discussion to the late 19th and 20th centuries. Our contemporary
                understanding of the term ‘nation’ did not settle until the French Revolution
                and even later (Hobsbawm 1990: 121). The great empires of history (Roman,
                Ottoman, Persian) were not multinational — they could not have been because
                nations did not exist as such. Identities (to the extent that there were any
                beyond the most local of areas) stemmed from religious and autocratic
                hierarchies, often overlapping, but the concept of nation requires a belief in the
                equality of men which even today has not succeeded in completely shrugging
                off the yoke of class. This careless definition also leads Walzer to imply that
                empires operated within strict boundaries, which they clearly did not. The
                Roman Empire, for example, existed on the basis of exercise of power, even if
                this carried its significance beyond the formal encampments and walls (Doyle
                1986: 30). Not only were empires inherently expansive, eager to spread
                influence, and thus in contradiction with the need for borders, but territoriality
                as we have come to know it did not exist until the state began to take shape in
                the Westphalian era. In fact, it is arguable that territoriality could only settle
                into its current crucial meaning after the age of exploration was over and
                frontiers had ceased to exist. Walzer’s assumption about the territoriality of
                empires, then, is not only anachronistic, but ironically it deprives the imperial
                model of one of its primary advantages in terms of toleration. From the
                perspective of inclusiveness, Empire, with a weak conception of ‘outside’ vs
                ‘inside’, was automatically more tolerant of all the peoples with which it came
                into contact.
                However, the primary difficulty in Walzer’s argument occurs in the
                assumption of identities as given. This argument is much more important
                since it strikes at the very heart of the meaning of toleration, and it imports
                intellectual certainty into the realm of questioning and curiosity. It is clear that
                for Walzer identities are prior to politics and difference is something which
                must be tolerated. He wrote (1997: xii): ‘A defense of toleration doesn’t have to
                be a defense of difference. It can be, and often is, nothing more than an
                argument from necessity.’ Thus, one may actually be opposed to certain forms
                of difference and yet make a choice to tolerate them. Toleration, Walzer (1997:
                xii) asserted, ‘makes difference possible.’ From a committed post-modernist
                perspective (the term that liberals often use as a slur), it is obvious that Walzer
                has got it exactly backwards: it is difference that makes toleration possible. He
                Linda S. Bishai
                Liberal empire
                59
                operates — without question — on the assumption that identities are preformed, prior to any
                encounters
                with
                difference. So toleration is a decision
                which we make in order to maintain the social good of peaceful coexistence.
                Nowhere in his text does Walzer imply that knowledge of the self might be
                problematic, or dependent on the other. In fact, so deep is his assumption of
                priority of the self embedded that Walzer ventures far into discussions of
                toleration and difference without referring to the nature or constitution of the
                self at all.
            </article>
            <article class="youtube-container-articles-article">
                But how can a theory which does not take the formation of identity
                into account explain the ways in which societies and individuals change and
                interact?
                If our identities were truly fixed, and we were simply born into pre-formed
                selves, then not only our lives but our politics would be radically different. We
                would be little open to the political values of others and learning or negotiating
                would scarcely be possible. Responsible diplomacy, as Sa´rva´ry (2001: 381)
                argues, cannot ‘be restricted to gradually bringing our representation into line
                with an objective reality through gradual expansion of the boundaries of the
                Self, but means an endless enterprise/challenge for actors to gradually
                reinterpret their identities and their knowledge about the reality surrounding
                them in order to ensure peaceful change.’ Politics, in other words, is about the
                never-ending negotiation of identity.
                Our selves — our identities — are constructed constantly by our own
                accounts of all the circumstances through which we exist. An empirical
                illustration of this occurs in the clinical studies of neurology and psychology
                where doctors have observed the desperately manic story-telling behaviour of
                people who have lost their short-term memories. These individuals are
                incapable of forming bonds with other human beings because they never
                remember having met them, even in the very recent past. Instead of helping
                them form a concept of themselves, the presence of other people causes these
                patients unease and distress. For these unfortunate victims of brain injury,
                ‘[t]he world keeps disappearing, losing meaning, vanishing — and [they] must
                seek meaning, make meaning, in a desperate way, continually inventing,
                throwing bridges of meaning over abysses of meaninglessness, the chaos that
                yawns continually beneath [them]’ (Sacks 1986: 106, original italics). It is when
                we see how people who have lost their memories try to make meaning that we
                realize how naturally and quietly the process of making meaning occurs — on a
                constant personal basis through our memories. As Sacks concluded (1986: 105,
                original italics) after seeing such patients:
                If we wish to know about a man, we ask ‘what is his story — his real inmost
                story?’ — for each of us is a biography, a story. Each of us is a singular
                narrative, which is constructed, continually, unconsciously, by, through,
                and in us — through our perceptions, our feelings, our thoughts, our
                Journal of International Relations and Development
                Volume 7, Number 1, 2004
                60
                actions; and, not least, our discourse, our spoken narrations. Biologically,
                physiologically, we are not so different from each other; historically, as
                narratives — we are each of us unique.
                So while we are each uniquely a result of circumstance, we are also
                profoundly dependent on establishing ongoing ties with others in order to
                maintain a sense of ourselves. The contingency, the chance, of our
                circumstances does not mean that we must be rootless. As these patients
                illustrate, our identities are grounded in the memories through which we can
                establish our identity narratives. Group identities occur through discourses,
                thoughts and perceptions which are shared. But given this self-historicizing
                process through which identities are created, there is no fundamental reason
                for prioritizing one type of group identity over another. Different associations
                necessarily serve different purposes. Politics itself is one of the identityformative decisions of
                association.
            </article>
            <article class="youtube-container-articles-article">
                In fact, the identity of the ‘who’ is the
                question which must be answered before politics can occur (Schmitt 1932/
                1996). But who we are depends as much on whom we perceive ourselves not to
                be as it does upon any shared perceptions, and it remains an ongoing process.
                As William Connolly (1991: 64) put it, ‘An identity is established in relation to
                a series of differences that have become socially recognized. These differences
                are essential to its being. If they did not coexist as differences, it would not exist
                in its distinctness and solidity.’ Difference, then, is not a result of toleration.
                Difference simply is in a deep, ontological way which Walzer refuses to
                recognize or take into account. Rather, he seems to want to sit on both sides of
                the theoretical fence. He wants the security of a true and pure identity while
                allowing difference to exist through toleration. But this is the paradox already
                described by Connolly — the paradox that pure identities cannot coexist in the
                presence of difference if indeed they can exist at all.
                [W]e cannot dispense with personal and collective identities, but the multiple
                drives to stamp truth upon those identities function to convert differences
                into otherness and otherness into scapegoats created and maintained to
                secure the appearance of a true identity. To possess a true identity is to be
                false to difference, while to be true to difference is to sacrifice the promise of
                a true identity (Connolly 1991: 67).
                In other words, there is no choice to be made about whether or not to
                tolerate difference. We cannot reject difference any more than we can
                reject ourselves for we exist through difference. We are, in fact, all examples
                of each other’s ‘other’. Thus, to advocate ‘toleration’ as the only practical
                choice is to establish a relationship among the many possible identities which is
                based on a severe misunderstanding of the necessity, the inevitability, of
                difference.
                Linda S. Bishai
                Liberal empire
                61
                Toleration must also presume that certain identities are ‘true’ ones and that
                others are to be allowed to continue unrepressed for the sake of liberal theory.
                Toleration is authoritatively defined by the Oxford English Dictionary as ‘The
                action of sustaining or enduring; endurance (of evil, suffering etc.).’ Priorities
                between good and evil are thus baked into the very meaning of the word. The
                tolerator is patient, good, praiseworthy, while the tolerated causes pain and
                suffering and must therefore be bad. Walzer (1997: 52) himself acknowledges
                that toleration has a problematic meaning — that it is about power: ‘To
                tolerate someone else is an act of power; to be tolerated is an acceptance of
                weakness.’ But he argues that clearly marked power relations are actually more
                likely to create stable peace, thus toleration is still a net social good. This is an
                interesting point but it neglects a crucial element. The relationship between
                power and stability is not so simple. ‘Power’, as Arendt wrote (1969: 52), ‘needs
                no justification as it is inherent in the very existence of political communities;
                what, however, it does need is legitimacyy Power springs up whenever people
                get together and act in concert, but it derives its legitimacy from the initial
                getting together rather than from any action that then may follow.’ Power
                alone cannot create stable peaceful relationships, it must be accepted,
                recognized, as legitimate. Power which loses its legitimacy, Arendt suggested,
                tends to give way to violence in order to maintain control. There is no
                recognition of legitimacy in Walzer’s toleration. It is based rather on fear that
                the other might threaten the sanctity of the settled identity, the knowledge one
                has of one’s place in a group. Walzer (1997: 87) wrote:
                In immigrant societies (and also now in nation-states under immigrant
                pressure), people have begun to experience what we might think of as a life
                without clear boundaries and without secure or singular identities. Difference
                is, as it were, dispersed, so that it is encountered everywhere, every dayy
                The result is a constant commingling of ambiguously identified individuals,
                intermarriage among them, and hence a highly intensive multiculturalism
                that is instantiated not only in the society as a whole but also in a growing
                number of families, even in a growing number of individuals.
                Walzer describes the absence of secure identities as a fearsome event. He
                labels this kind of bewildering array ‘the postmodern project’ and it is clear
                that his comfort threshold has been passed. Marriage between ‘ambiguously
                defined’ individuals could cause us to lose sight of our common identity. For
                Walzer, this ambiguity is something frightening, something to be endured,
                tolerated, but not approved of. He assumed (1997: 88), without evidence, that
                ‘[t]he associations that these self-made and self-making individuals form are
                likely to be little more than temporary alliances that can be easily broken off
                when something more promising presents itself.’ But no one is ‘self-made’. We
                have many choices as individuals, but we are also highly contextual beings, of
                Journal of International Relations and Development
                Volume 7, Number 1, 2004
                62
                course. Walzer, here, conflates ambiguity (and postmodernity) with instability
                and chaos and assumes that it cannot be for the social good. ‘The postmodern
                project,’ he asserted (1997: 88–89), ‘undercuts every sort of common identity
                and standard behavior: it makes for a society in which the plural pronouns
                ‘‘us’’ and ‘‘them’’ [y] have no fixed reference.’ This conclusion relies on the
                assumption that stable identities are good and produce stable social and
                political relations. But just possibly the reverse is true. Stable identities are ones
                that presume they are the standard of normalcy and thus all others are deviant.
                They are, in other words, recipes for oppression and, ironically, intolerance.
                However, if one realizes the contingency of the self then one is much more
                likely to accept and respect difference in others. Realizing contingency does not
                mean one is rootless or finds no meaning in life. If anything, the evidence from
                America itself reveals a growing contentedness with ‘post-ethnic’ identities.
                The current generation of young Americans is the most multi-racial group
                ever — with increasing rates of intermarriage and a mix ’n match approach to
                culture. Perhaps this is Walzer’s worst fear realized: ‘in the highly fluid youth
                marketplace, cultural identities are adopted, exchanged and shed as simply and
                efficiently as if they were eBay transactions’ (Kotkin and Tseng 2003). This has
                not meant the breakdown of communities and group identities. It only
                portends a shift in the basis of group feeling from race and ethnicity to a
                number of other possibilities (such as local communities or age groups). The
                contingent self does not become Dr. Sacks’ amnesiac patient, with a desperate
                inability to form an identity. Contingency does not obliterate social memory.
                As if directly addressing Walzer’s concerns, Connolly wrote (1991: 172): ‘Many
                contemporary theorists proceed as if identity were fractured today and we must
                find some way to solidify ity But at the most fundamental level these
                interpretations do not make sense to me. The standards of unity and harmony
                they presuppose seem closer to death than to life.’ In other words, to rely on
                stability and predictability, to fear the unknown and contingent is, in some
                profound sense, to refuse to live life itself. The reductio ad absurdum of this
                argument is an identity which is fixed and stable, but it is the stability of death,
                the identity of a robot. Ironically, then, while he starts his essay in a promising
                way, in search of a theory which will ease strife among human beings, Walzer
                proves unable to formulate a response to difference which accounts for the
                variety of possible identities and relations among them. His model of toleration
                proves in the end to be strikingly intolerant of difference.
            </article>
            <article class="youtube-container-articles-article">
                Liberal Empire
                Walzer’s tolerant liberal state and the reaction of American liberalism to the 11
                September, 2001 terror attacks come together to give us a developing picture of
                Linda S. Bishai
                Liberal empire
                63
                Liberal Empire. Post 11 September US foreign policy has begun to
                demonstrate the consequences of removing liberalism’s in-built contradictions
                in favour of certainty. Imperialism (based on expansionist universalism) is
                always a possibility in liberalism, if the balance between scepticism and
                certainty shifts in favour of certainty. If, as Walzer asserted, toleration is a
                pragmatic consideration, then there are circumstances where it might not make
                sense — where difference, in fact, must not be tolerated. While few would argue
                that open-mindedness requires submission to terrorism, it is not ridiculous to
                suggest that a wise path to finding ways to deal with violence of this nature
                would include understanding how these ideas were formed. An acceptance of
                the idea of mutual reliance of the self upon others tells us that the ‘hatred’ and
                ‘evil’ of those willing to commit terrorist acts did not develop in a vacuum. Just
                as importantly, for this is not about justification, this idea acknowledges that
                our selves are being affected by this unforeseen relationship. There is no way to
                have an encounter with difference and remain untouched. We are not protected
                from this — even if no terrorist attack ever succeeds again, being American will
                have changed its meaning because of the encounter and the continuing
                response to it. But insistence on the status quo has become the liberal American
                mantra. We were victims, we were innocent, we were good. The inherent
                goodness of victimhood has become a constant refrain and has served to justify
                an increasingly aggressive stance towards the rest of the world.
                Although it is an exaggeration to say that US foreign policy was co-operative
                and multilateral before the current Bush Administration, the emphatic change
                of style has amounted to a serious shift in content. The National Security
                Strategy (NSS) of 2002 has been much applauded and maligned. As noted at
                the time, it is an overtly imperial statement of the new Bush doctrine for
                approaching world politics. What was not noted is that the NSS is an obvious
                outcome of the American style of imperial liberal thinking. Purdy (2003: 54)
                succinctly delivers the argument as follows:
                First, there is one set of principles binding all countries in the world,
                whether their governments acknowledge or ignore them. These are
                democracy, free markets, human rights, and peaceful behaviour toward
                other countries. Second, we embody these principles, and we have the last
                word as to what they mean and where they have been grievously violated.
                Third, we will enforce these principles with our unparalleled military
                strength and will not permit competitors to arise and challenge our supreme
                position. In us, and only in us, power and righteousness coincide.
                America the liberal state becomes America the Liberal Empire in a
                remarkably smooth transition. Here is a statement of breathtaking moral
                clarity — America is THE liberal state embodied and therefore is the arbitrator
                of what shall pass as liberal and also of what shall be deemed illiberal. Making
                Journal of International Relations and Development
                Volume 7, Number 1, 2004
                64
                such an explicit statement transcends being the template for a global network
                model. America has become the enforcer for the Liberal Empire — it will
                decide what is true and what is false, and more importantly, who is good and
                who is evil, who is to be tolerated and whom excluded. As Rhodes (2003: 137)
                suggests, ‘the Bush administration’s grand strategy may be imperial, but it aims
                at creating liberal rather than autocratic or totalitarian, governance wherever
                the American military pax reaches.’ This is the universalist impulse of liberal
                moralism run wild. The trouble is that practicality has a nasty way of making
                moralists look hypocritical. Obviously, there are many instances where a
                consistent application of the Bush doctrine would require an intervention
                (North Korea, Syria, Iran — but also Russia, China, Israel/Palestine). This
                observation has inconveniently led some to question the validity of the
                principles that divide the tolerable from the intolerable in the first place.
                Much has been said already about the Iraq intervention so I propose a
                consideration of the Liberal Empire through another source. A recent article
                by Robert Kaplan (2003) boldly illustrates the kind of thinking that can
                proceed from the liberal assumption of universal goodness and rightness.
                Kaplan is at the logical extreme of the assumptions made by Walzer. While
                Walzer may disagree with Kaplan’s aggressive tactics, they are ethically
                reconcilable with Walzer’s own version of liberalism in which toleration has its
                limits and the liberal society is justified in curtailing freedoms to protect itself.
                It may be problematic to classify Kaplan as a Liberal, but I do so on the
                basis that he repeatedly refers to the morality of US action and to the aim of
                spreading the classic liberal values of liberty, property and economic freedom.
                He himself refers to the US as a liberal empire (Kaplan 2003: 68). Kaplan —
                who calls the observation that the US has become a global empire an ‘obvious
                cliche´’ — writes as a self-appointed advisor to the Prince, offering ten rules
                America should follow as it manages the world. What is striking about his
                observations is the path he takes through faith in the rightness of American
                action to arrive at the broad scope of acceptable means that may be necessary
                to arrive at good ends. Kaplan is, in essence, advocating realist means to
                achieve liberal ends. That is, he believes that American power is what is best for
                global freedom and stability. Force is the ethical choice and the US will not
                only secure its own position in the world (realist ends) but make the world a
                more free and richer place (liberal ends). He begins by noting (2003: 68) that,
                because America is promoting the spread of democracy, its grip on previously
                cooperative countries will weaken, so ‘if we are to get our way, and at the same
                time to promote our democratic principles, we will have to operate nimbly, in
                the shadows and behind closed doors, using means far less obvious than the
                august array of power displayed in the air and ground war against Iraq.’
                Kaplan’s first rule (Produce More Joppolos) is based on a fictional World War
                II officer who demonstrated independence and ingenuity in the face of
                Linda S. Bishai
                Liberal empire
                65 unpredictable circumstances that went beyond his training. Quoting the novel’s
                author, Kaplan states (2003: 69): ‘no four freedoms or fourteen points, no
                dreamer’s diagram so symmetrical and so faultless on paper, no plan, no hope,
                no treaty — none of these things can guarantee anything. Only men can
                guarantee, only the behaviour of men under pressure.’ Clearly, the Liberal
                Empire need not participate in the vain and weak endeavours of international
                institutions which are the preserve of weak diplomats. These paper promises
                are useless. Men get things done — strong men who know that ‘in a world of
                tribes and thugs manliness still goes a long way’ (Kaplan 2003: 69). In his
                disdain of global institutions and the UN in particular, Kaplan joins a growing
                chorus of new sovereigntists who argue that the US should not curtail its
                sovereignty by allowing new international agreements to change its behaviour
                in any way (Spiro 2000). These neo-conservative American liberals continue to
                insist on moral arguments promoting capitalism and democracy and they never
                assert that international law is irrelevant — only that it applies differently to
                the US.
            </article>
            <article class="youtube-container-articles-article">
                Rule number 2: Stay on the Move urges the US not to get bogged down in
                too many extended military entanglements. Flexibility and rapid response are
                the keywords for patrolling and controlling a global empire. Americans,
                according to Kaplan, have a special advantage that makes them less likely than
                the British to set up former colonies — they are provincial. A retired colonel
                tells him (2003: 72): ‘Even our Special Ops people are insular. Sure, we like the
                adventure with other cultures, learning the history and language. But at the
                heart many of us are farm boys who can’t wait to get home y Our insularity
                protects us from becoming colonials.’ Under the Liberal Empire, the imperial
                forces do not become too deeply involved in the lives of those they are policing.
                The military is proud of the ability of its members to function in foreign places
                without ‘going native’, because ultimately there is an inside to which these
                imperial outposts will never belong. The idea that US forces disdain formal
                colonialism should be comforting — except for the fact that it hints at the kind
                of short attention span that left places like Somalia, Haiti, and Afghanistan
                without the tools for political order. In Rule 4, Use the Military to Promote
                Democracy, Kaplan suggests making use of wide American military deployment to strengthen
                pro-democracy
                policies.
                He advocates this on pragmatic
                grounds (2003: 76) because ‘the fact is that Third World military men are more
                likely to listen to American officers who brief them about human rights as a
                tool of counterinsurgency than to civilians who talk about universal principles
                of justice.’ In fact, Kaplan is delighted that the line between the military and
                civilian tasks is fading (2003: 76): ‘The US military will increasingly churn out
                such chameleons: operatives who combine the traits of soldier, intelligence
                agent, diplomat, civilian aid worker, and academic. At the same time that our
                uniformed officers are acting more like diplomats, our diplomats, particularly
                Journal of International Relations and Development
                Volume 7, Number 1, 2004
                66
                our ambassadors, are acting more like generals.’ How comforting to know that
                the increasingly militarized politics of the Liberal Empire are being
                implemented by a multi-talented corps of soldier-diplomats.
                One of Kaplan’s more bewildering guidelines comes in Rule number 5, Be
                Light and Lethal. Here, he urges the US military to follow the model of
                American policy in Latin America. Although the results were ‘not always
                pretty and, frankly, not always moral’ the unconventional warfare approach,
                involving aggressive intelligence and training local units to do the bulk of the
                work, allowed the US to defeat communist influence ‘for a relatively small
                investment of money and manpower’ (2003: 77). Kaplan rejects the claims of
                ‘journalists and intellectuals [who] have regarded this policy as something to be
                ashamed of,’ because ‘the far more significant operational truth is that it
                exemplifies how we should act worldwide in the foreseeable future’ (2003: 77).
                Further, the beauty of US Latin American policy was that it did not require the
                inconvenient ‘quagmire’ of UN Security Council Approval, ‘which in any case
                represents an antiquated power arrangement unreflective of the latest wave of
                US military modernization in both tactics and weaponry’ (2003: 79). Kaplan
                recommends that future US policy should simply be to avoid the UN by
                increasing the use of a more militarized Central Intelligence Agency and a more
                intelligence-oriented corps of military Special Forces. As the article goes on,
                Kaplan demonstrates increasing impatience for the demands of world approval
                of the process of controlling the Liberal Empire. A moral outcome, he asserts,
                requires some morally questionable methods. In particular,
                the war on terrorism will not be successful if every aspect of its execution
                must be disclosed and justified — in terms of universal principles — to the
                satisfaction of the world media and world public opinion. The old rules are
                good rules because, as the ancient Chinese philosophers well knew,
                deception and occasional dirty work are morally preferable to launching a
                war (2003: 80).
                Kaplan’s muscular go-team view of how American Empire should proceed
                illustrates how easily liberalism can slip from its moorings when it disdains the
                possibility of other avenues to truth. Kaplan has become an eerie hybrid of
                liberalism and realism — the pragmatic liberal, espousing ‘the language of
                convenience trumpeted as the language of morality’ (Williams 2001). He is on
                the right side — so all that matters is that this side wins. The possibility, as a
                traditional International Relations realist might caution, that aggressive tactics
                will produce undesirable blowback effects such as global resentment and lost
                legitimacy does not appear anywhere on his horizon. So certain of rightness is
                he that even the old liberal commitment to universal principles (which would at
                least nod in the direction of multilateral agreement) is dismissed (Kaplan 2003:
                83) as ‘the traditional weapon of the weak seeking to restrain the strong.’
                Linda S. Bishai
                Liberal empire
                67
                His argument ultimately reduces to the assertion that the US is a Liberal
                Empire, that it should dominate the world, and that its best chance for doing so
                is to rely on a globally deployed, diversified, innovative and stealthy military
                which craftily avoids the involvement of global institutions by getting the job
                done quickly and quietly under cover of persuasive media relations. By the end
                of the article, it would appear that Kaplan has firmly joined the ranks of the
                Athenians on their approach to Melos, advocating that the strong can do what
                they like. But he commits himself firmly to the liberal ranks when he asserts
                (Kaplan 2003: 83) the ultimate liberal utility of American Empire: ‘By
                sustaining ourselves first, we will be able to do the world the most good. Some
                200 countries, plus thousands of nongovernmental organizations, represent a
                chaos of interests. Without the organizing force of a great and self-interested
                liberal power, they are unable to advance the interests of humanity as a whole.’
                Thus, Walzer’s feared postmodern project and ambiguous identities merge into
                Kaplan’s ‘chaos of interests’ that must be tamed by the liberal truth. These
                different interests obscure the truth, according to Kaplan. His logic is as
                follows: we all know that the American Empire will represent the best interests
                of us all. The American Empire is the moral choice because it is based on
                toleration.
                Pragmatically, we should pare down the plurality of voices and
                support this reluctant empire. This is the imperial gesture of toleration.
            </article>
            <article class="youtube-container-articles-article">
                <h1>Network Pluralism</h1>
                Lest this article descend into gloomy warnings against the imperial power of a
                righteous hegemon, let me suggest by way of conclusion that there is an
                alternative conceptualization of pluralism. This is William Connolly’s network
                pluralism. The liberal model of pluralism and toleration can be likened to a tree
                trunk (arboreal) in which many branches are encouraged to grow but they
                must all stem from a central trunk (moral clarity). Connolly (2001: 351) calls
                this tree trunk the national model of pluralism, it ‘extends tolerance to
                minorities ranged around a majority centre. The centre might be provided by
                ethnicity, language, religion, family structure, economic practice, or some
                combination thereof.’
                In contrast to this is the network model of pluralism, also called the plural
                matrix of cosmopolitanism; this model is represented by the network or
                rhizome metaphor: a series of sprouting shoots and multiple roots in which no
                central trunk is discernible and yet all stems are both rooted and interconnected with connections
                that
                extend
                across the globe without stopping at
                states’ borders. Connolly asserts that this model does not amount to the social
                fragmentation which concerns so many liberal theorists. To translate the
                metaphor into politics, he suggests (2001: 352) that this form of pluralism is
                Journal of International Relations and Development
                Volume 7, Number 1, 2004
                68
                one ‘in which citizens cultivate presumptive receptivity to new drives to
                pluralization, coming to terms self-critically with how old patterns of diversity
                often encourage them to exclude or marginalize emerging constituencies to
                whom they could otherwise connect positively.’ As a starting point, citizens
                must learn how to deliberately unsettle the comfortable and the familiar. It is
                exactly when we have the urge to shun people and ideas that we should think
                again about the possibility of connection. Connolly acknowledges that it is not
                easy. Further, it depends upon a growing number of individuals who can
                sustain the pattern broadly enough to allow a network style of pluralism to
                take hold: ‘The effort depends upon numerous parties relinquishing the
                provincial demand that all others subscribe to faith in the transcendental,
                universal, immanent, deliberative, revealed or rational source they themselves
                confess’ (2001: 353). Connolly does not propose an alternative to the model of
                the liberal state; rather he urges an additional understanding of the possibilities
                of identification beyond and across the limitations of the national. His point is
                not to eliminate more traditional layers of identity, layers he calls ‘concentric
                identifications’, because these are a necessary part of ordered life. Instead,
                Connolly (2000: 603) sees the potential for pluralism in a process of seeing ‘how
                concentric circles of political culture are complicated and compromised by
                numerous crosscutting allegiances, connections, and modes of collaboration.’
                Indeed, such connections already exist — it is only a matter of recognizing
                their validity and forgetting the insistence on the universal. This kind of
                pluralism is a radical challenge to the Liberal Empire. It is the decentralization
                of truth, and it requires the willing participation of myriads of people in order
                to have significant political effects.
            </article>
            <article class="youtube-container-articles-article">
                Nonetheless, there are signs that such a
                model is at work changing one person at a time, challenging the willingness of
                some to embrace the unthinkable.
                I conclude with selections from an essay by Richard Rodriquez (2003) that
                suggest an unfamiliar and perhaps uncomfortable way of seeing the present
                military mission in Iraq, which reflects Connolly’s urging towards a plural
                rather than concentric matrix of identification. The deployments of the Liberal
                Empire do not only extend outward from the centre. There are always
                opportunities for networks of difference to take root and work their awesome
                magic even on the good and the powerful.
                Contrary to the scenarios of military strategists and indeed historians, it is not
                always useful to distinguish the victor from the vanquished. Often the victor
                and the vanquished form a third.
                President Bush addressed Iraqi Americans in Arab Detroit, promising them a
                Democratic Iraq. One could easily foresee the Arabization of America. In the
                aftermath of war come new civil relationships, curricula, bureaucracies, even
                Linda S. Bishai
                Liberal empire
                69
                hatreds, even dependencies. Occupying armies become bilingual or the defeated
                learn the victor’s language and learn the foreigners’ ways until those ways seem
                no longer so foreign.
                Even as Washington plans to reconfigure the desert, the Middle East draws
                ever closer to the average American. Islam is now so much a part of the
                American imagination and the American landscape, it will be impossible hence
                forward for participants at a congressional prayer meeting not to name Islam
                along with Christianity or Judaism, for Islam is now a major faith of the
                American people.
                Somewhere on the desert tonight, I am certain of it, a young American soldier
                is momentarily entranced by some aspect of the world he has entered to
                convert. The music or the spices, the colors, the voices, the eyes. He will return
                home himself converted, because he has experienced an intimacy by which I
                mean he has eaten, he has looked, he has breathed.
                Notes
                1 The first version of this article was presented at the International Studies Association/Central
                and East European International Studies Association Meeting, 26–28 June, 2003, in Budapest,
                Hungary. I thank the panel participants, the editors, the anonymous reviewers and Andreas
                Behnke for their invaluable comments.
                2 I am asserting here that contemporary American conservatism, as manifested in the Republican
                Party of George W. Bush, owes its origins in fact to liberalism rather than realism. For an
                excellent description of the origins of American neo-conservatism, see Afsah (2003). It has even
                been called ‘muscular Wilsonianism’ (Elliott 2002). Although counter-intuitive, this view is
                beginning to take hold, not least among the disconcerted traditional (realist) conservative wing
                of the party; see Mearsheimer and Walt (2003); and Talbott (2003).
                3 I have experienced this firsthand on a number of occasions when my foreign husband (a resident
                alien) has been asked matter-of-factly when he was going to become a citizen. This is the default
                setting for American identity. The thought that a foreigner would not wish to become American
                is nearly incomprehensible.
            </article>
        </div>
    </div>
</div>