<div class="youtube">
    <div class="youtube-container">
        <div class="youtube-container-content">
            <div class="youtube-container-content-y">
                <a href="/" class="link" rel="noopener noreferrer">To Download Video</a>
                <div class="youtube-container-content-y-form" aria-checked="true">
                    <form action="searchplaylist" method="GET">
                        <div class="youtube-container-content-y-form-group">
                            <label for="url">PlayList URL</label>
                            <input type="url" name="url" placeholder="..." required />
                        </div>
                        <div class="youtube-container-content-y-form-group">
                            <input class="btn" type="submit" value="Search" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="youtube-container-content-bg">
                <div class="youtube-container-content-bg-form">
                    {{#if youtube}}
                    <h3>{{title}}</h3>
                    <h3>{{count}}</h3>
                    {{#each youtube}}
                    <div class="video">
                        <img src="{{this.image}}" alt="{{title}}">
                        <div class="info">
                            <p>title: {{this.title}}</p>
                            <p>duration: {{this.duration}}</p>
                            <p>index: {{this.index}}</p>
                        </div>
                        <div class="download">
                            <form action="download" method="GET">
                                <input type="hidden" name="link" value="{{this.url}}">
                                <button class="submit" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                        height="24px" viewBox="0 0 24 24" width="24px" fill="#f5f5f5">
                                        <g>
                                            <path d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z" />
                                        </g>
                                    </svg>

                                </button>
                            </form>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <h3>{{title}}</h3>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="youtube-container-articles" hidden>
            <article class="youtube-container-articles-article">
                <h1>INTRODUCTION</h1>
                Presently, in India nearly 314 medical colleges are providing undergraduate medical education in the
                form of MBBS, 163 colleges are providing doctor of medicine in diploma in Dermatology,Venereology and
                Leprosy (DVL), and 84 colleges are providing diploma in DVL.[1–3] In addition to this, 27 hospitals are
                providing diplomate of national board in diploma in Venereology and Dermatology.[4] On comparing this
                data with number of research articles published, the latter stands in a mediocre situation. One of the
                important cause responsible for the relatively less number of research publication is unavailability of
                free full-text articles. Research works, published by most of the journals, are paid. Many of the
                undergraduates or postgraduate students may not be able to purchase these high-cost journals or
                articles. In addition to this, many researchers may not be willing to spend money on journals. These are
                some of the situations where free full-text articles come for rescue, but many of the beginners may not
                be familiar about how to search these articles. In addition, free full-text articles are the first
                choice for many of the postgraduate students for their dissertation.
            </article>
            <article class="youtube-container-articles-article">
                <h1>HOW TO APPROACH</h1>
                In addition to journals which are fully Open Access, there are few other journals which operate through
                subscriptions as mainstream journals do, but which offer open access to the electronic versions of their
                articles after a delay of usually a year, or selectively for individual articles, provided the authors
                have paid an additional charge to “open up” the articles.[5]

                Free full-text articles can be approached in the following ways.
            </article>
            <article class="youtube-container-articles-article">
                <h1>Medknow Publications</h1>
                Medknow Publications publish nearly 150 journals. They provide free access to the electronic editions of
                their journals.[6] Researchers just have to open the site www.medknow.com, fill the key word they
                require, and search. Alternatively, they can visit the search option, available in most of their
                journals site through www.journalonweb.com, fill the key word, and search across multiple journals. At
                times, this site alone provides sufficient number of references required for the purpose. The important
                dermatological journals published by Medknow Publications are Indian Dermatology Online Journal, Indian
                Journal of Dermatology, Indian Journal of Dermatology, Venereology, and Leprology, Indian Journal of
                Sexually Transmitted Diseases and AIDS, International Journal of Trichology, and Journal of Cutaneous
                and Aesthetic Surgery.[7]
            </article>
            <article class="youtube-container-articles-article">
                <h1>PubMed Central and PubMed</h1>
                PubMed Central is the United States National Library of Medicine's digital archive of biomedical and
                life sciences journal literature which provides free access to the full text of articles.[8] To search
                for free full-text articles on PubMed Central, one has to visit the site, write the topic/author/journal
                title, and search across all articles.

                PubMed is a database of citations and abstracts for articles from thousands of journals. PubMed does not
                include full-text journal articles.[9] It includes links to full-text articles at many journal web sites
                as well as to most of the articles in PubMed Central.[10] Here, articles can be searched on the site.
                Search
                can be restricted to contents free on web by using filter
                your results and clicking free full text.[11]
            </article>
            <article class="youtube-container-articles-article">
                <h1>Directory of Open Access Journals</h1>
                The directory aims to cover all open access scientific and scholarly journals that use a quality control
                system to guarantee the content.[12] It provides articles from 439 medicinal journals. Among them, 21
                are from dermatology.[13] It includes Anais Brasileiros de Dermatologia, BMC Dermatology, Case Reports
                in Dermatology, Clinical Dermatology, Clinical Medicine Insights: Dermatology, Clinical, Cosmetic and
                Investigational Dermatology, Dermatología Peruana, Dermatology Online Journal,th Dermatology Reports,
                Dermatology Research and Practice, Egyptian Dermatology Online Journal, Indian Journal of Dermatology,
                Indian Journal of Dermatology, Venereology and Leprology, The Internet Journal of Dermatology, Journal
                of Clinical and Experimental Dermatology Research, Journal of the Egyptian Women's Dermatologic Society,
                Open Dermatology Journal, Revista Argentina de Dermatología, Surgical and Cosmetic Dermatology, Turk
                Dermatoloji Dergisi, Turkderm.[14] The disadvantage of directory of open access journals is that few of
                these journals are in languages other than English. Here, articles can be searched on the site.
            </article>
            <article class="youtube-container-articles-article">
                <h1>Electronic Resources in Medicine Consortium and National Medical Library</h1>
                Electronic Resources in Medicine Consortium (ERMED) and National Medical Library (NML) are an excellent
                platform for obtaining free of cost recent journal articles for its member colleges. There is no
                membership fees charged from the Government Medical Colleges and institutions. The private colleges and
                institutions have to make payment per site price for e-sources purchased by the consortium in every
                calendar year.[15] Membership of the college can be checked from the siteor volunteers can contact their
                library to check the membership and
                to get the user name and password of the site www.ermed.jccc.in allotted to their college.[16] In 2009,
                the number of ERMED members increased from 40 to 72 Government Medical Colleges/Institutes across the
                country.[17] At present, it covers nearly 32 journals of dermatology. It includes Acta
                Dermatoveneorologica Alpina, Pannonica et Adriatica, Acta Dermatovenerologica Croatica, Advances in Skin
                and Wound Care, American Journal of Clinical Dermatology, American Journal of Dermatopathology, Archives
                of Dermatological Research, Archives of Dermatology,, Asian Journal of Dermatology, BMC Dermatology,
                Clinical, Cosmetic and Investigational Dermatology, Clinical Dermatology, Contact Dermatitis,
                Dermatologic Surgery, Dermatology, Dermatology Nursing, Dermatology Online Journal, Dermatology Times,
                Indian Journal of Dermatology, Indian Journal of Dermatology, Venereology and Leprology, International
                Journal of Dermatology, Internet Journal of Dermatology, Journal of Drugs in Dermatology, Journal of
                Investigative Dermatology, Journal of the European Academy of Dermatology and Venereology, Medicine,
                Open Dermatology Journal, Pediatric Dermatology, Rosacea Review, Skin and Allergy News, Skin
                Pharmacology and Physiology, Turkdem-Archives of the Turkish Dermatology and Venerology and Turkish
                Journal of Dermatology.[18]

                Journal articles related to the topic can be searched easily after signing in at the site
                www.ermed.jccc.in, followed by clicking search database.
            </article>
            <article class="youtube-container-articles-article">
                <h1>The Cochrane Library</h1>
                The Cochrane Library provides high-quality review articles. The Cochrane Database of Systematic Reviews
                has an impact factor of 5.653 of 2009.[20] Articles can be searched on the site.
            </article>
            <article class="youtube-container-articles-article">
                <h1>Public Library of Science</h1>
                Public library of science is a nonprofit organization of scientists and physicians committed to making
                the world's scientific and medical literature a freely available public resource.[21] Everything
                published on this site is freely available throughout the world, for researchers to read, download,
                copy, distribute, and use.[22] Articles can be searched here on the site.
            </article>
            <article class="youtube-container-articles-article">
                <h1>Free Medical Journals</h1>
                Currently, total 2226 journals are available on this site.[23] Among them, nearly 30 are journals are
                related to dermatology and venereology and most of them are in English.[24] Some journals are available
                only a few months after the release. Journals can be searched on the site.
            </article>
            <article class="youtube-container-articles-article">
                <h1>Medscape</h1>
                It covers more than 125 medical journals and textbooks. After a simple, free registration, Medscape
                automatically delivers you the specialty site that best fits your profile.[25] After signing in at
                www.medscape.com, articles can be searched.
            </article>
            <article class="youtube-container-articles-article">
                <h1>HighWire Press Stanford University</h1>
                HighWire Press partners with independent scholarly publishers, societies, associations, and university
                presses to facilitate the digital dissemination of 1465 journals, reference works, books, and
                proceedings.[26] Articles can be searched on the site. It provides both
                free and paid articles.
            </article>
            <article class="youtube-container-articles-article">
                <h1>Bioline International</h1>
                Bioline International provides open access to peer reviewed bioscience journals published in developing
                countries.[27] Articles can be searched on the site.
            </article>
            <article class="youtube-container-articles-article">
                <h1>Indmed</h1>
                Indmed covers about 77 journals indexed from 1985 onwards. A portal medIND provides free full text
                access to 40 Indian medical journals.[28] Articles can be searched on the site.
            </article>
            <article class="youtube-container-articles-article">
                <h1>BioMed Central</h1>
                BioMed Central is a Science, Technology, and Medicine publisher. All original research articles
                published by BioMed Central are made free and permanently accessible online immediately upon
                publication.[29] After free registration, journals can be searched over.
            </article>
            <article class="youtube-container-articles-article">
                <h1>Geneva Foundation for Medical Education and Research</h1>
                Important dermatology journals in English included in this site are Acta Dermato-Venereologica, Acta
                Dermatovenerologica Alpina, Pannonica et Adriatica, Annals of Dermatology, Archives of Dermatology,
                Asian Journal of Dermatology, BMC Dermatology, Case Reports in Dermatology, Clinical Medicine Insights:
                Dermatology, Clinical, Cosmetic and Investigational Dermatology, Dermato-Endocrinology, Dermatology
                Online Journal, Dermatology Reports, Dermatology Research and Practice, Dermatology Times, European
                Journal of Dermatology, Indian Journal of Dermatology, Indian Journal of Dermatology, Venereology and
                Leprology, International Journal of Trichology, Internet Journal of Dermatology, Journal of Clinical and
                Experimental Dermatology Research, Journal of Clinical and Aesthetic Dermatology, Journal of Clinical,
                Cosmetic and Investigational Dermatology, Journal of Investigative Dermatology, Journal of Skin Cancer,
                Journal of the Egyptian Women's Dermatologic Society, Leprosy Review, Open Dermatology Journal, Rosacea
                Review, Skin Therapy Letter, World Wide Wounds.[30] Journals can be seen on the site.
            </article>
            <article class="youtube-container-articles-article">
                <h1>The website of Italian Library Association</h1>
                Here journals can be traced on the site. This site
                provides both free and paid journal articles.
            </article>
            <article class="youtube-container-articles-article">
                <h1>UK PubMed Central</h1>
                UK PubMed Central (UKPMC) is a full-text article database that extends the functionality of the original
                PubMed Central (PMC) repository. UKPMC has undergone considerable development since
                its inception in 2007 and now includes both a UKPMC and PubMed search, as well as access to other
                records such as Agricola, Patents, and recent biomedical theses. UKPMC also differs from PubMed/PMC in
                that the full text and abstract information can be searched in an integrated manner from one input box.
                All of the articles in UKPMC are “Free Access,” Not all content available in PMC is made available to
                UKPMC.[31]
            </article>
            <article class="youtube-container-articles-article">
                <h1>The University of lowa libraries</h1>
                Links to few free full-text articles are available at the site..
            </article>
            <article class="youtube-container-articles-article">
                <h1>National library of medicine gateway</h1>
                National library of medicine (NLM) is a user-friendly web-based system that searches not only MEDLINE
                but also several other NLM databases at the same time.[19] Articles can be searched here on.
            </article>
            <article class="youtube-container-articles-article">
                <h1>Medical Matrix</h1>
                Medical Matrix is a comprehensive guide to clinical medicine resources on the
                Internet.[19] Medical Matrix links to more than ten MEDLINE sites, including Gateway and PubMed and fee
                and open access sites.[19]
            </article>
            <article class="youtube-container-articles-article">
                <h1>World Health Organization</h1>
                Publications from World Health Organizations can be searched at the site.
            </article>
            <article class="youtube-container-articles-article">
                <h1>British Medical Journal Group</h1>
                Some low income and low middle income countries are entitled to free access of this site.[32] For other
                countries, all the articles are not free. Journals can be searched here at site. This site includes
                Journal
                of Sexually Transmitted Infections.
            </article>
            <article class="youtube-container-articles-article">
                <h1>British medical journal (BMJ)</h1>
                Open is an online-only, open access general medical journal, publishing
                medical research from all disciplines and therapeutic areas.[33] The journal publishes all research
                study types, from study protocols to phase I trials to meta-analyses.[33] Articles can be searched at.
            </article>
            <article class="youtube-container-articles-article">
                <h1>Elsevier Journals</h1>
                Few journals published by Elsevier, provide free access to non subscribers, after a predefined period of
                time has elapsed following the final publication.[34] The list of journals can be seen on website.
            </article>
            <article class="youtube-container-articles-article">
                <h1>CONCLUSION</h1>
                Free full-text articles play a pivotal role in updating the knowledge of physicians and researchers.
                They play important role in preparation of any manuscript or thesis, for the persons who cannot
                subscribe to these articles due to any reason. Authors believe that these articles will be useful for
                such persons. Authors request the readers to contribute any other link for free full-text articles they
                know.
            </article>
        </div>
    </div>
</div>