<div class="youtube">
    <div class="youtube-container">
        <div class="youtube-container-content">
            <div class="youtube-container-content-y">
                <a href="/" class="link" rel="noopener noreferrer">To Download Video</a>
                <div class="youtube-container-content-y-form" aria-checked="true">
                    <form action="searchplaylist" method="GET">
                        <div class="youtube-container-content-y-form-group">
                            <label for="url">PlayList URL</label>
                            <input type="url" name="url" placeholder="..." required />
                        </div>
                        <div class="youtube-container-content-y-form-group">
                            <input class="btn" type="submit" value="Search" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="youtube-container-content-bg">
                <div class="youtube-container-content-bg-form">
                    {{#if youtube}}
                    <h3>{{title}}</h3>
                    {{#each youtube}}
                    <div class="video-playlist">
                        <p class="title">{{this.title}}</p>
                        <div class="video-playlist-info">
                            <img src="{{this.image}}" alt="{{title}}">
                            <div class="info">
                                <p>index: {{this.index}}</p>
                                <p>duration: {{this.duration}}</p>
                            </div>
                            <div class="download">
                                <form action="download-video" method="GET">
                                    <input type="hidden" name="link" value="{{this.url}}">
                                    <select name="qualityLabel" id="qualityLabel">
                                        {{#each this.qualityLabels }}
                                        <option value="{{this.qualityLabel }}"> {{this.qualityLabel }} </option>
                                        {{/each}}
                                    </select>
                                    <button class="submit" type="submit">
                                        (MP4)
                                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                            height="24px" viewBox="0 0 24 24" width="24px" fill="#f5f5f5">
                                            <g>
                                                <path d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z" />
                                            </g>
                                        </svg>
                                    </button>
                                </form>
                                <form action="download-audio" method="GET">
                                    <input type="hidden" name="link" value="{{this.url}}">
                                    <input type="hidden" name="audioQuality" value="AUDIO_QUALITY_MEDIUM">
                                    <button class="submit" type="submit">
                                        (MP3)
                                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                            height="24px" viewBox="0 0 24 24" width="24px" fill="#f5f5f5">
                                            <g>
                                                <path d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z" />
                                            </g>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <h3>{{title}}</h3>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>